---
import Layout from "../layouts/Layout.astro";
import NavigationBar from "../components/NavigationBar.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="About MazeBoys">
  <main>
	<NavigationBar logo="/mb_logo.png" />

	<section>
		<img src="/blog/drawing_top.webp" alt="A man with a vermilion cap drawing a maze" class="w-full mt-10 object-cover min-h-[300px] max-h-[600px]" />
		<article class="mb-article my-10 max-w-prose mx-auto text-lg p-4 text-stone-700">
			<h1 class="font-medium text-5xl mb-8">Finally live!</h1>
			<time datetime="2024-02-20" class="block text-sm text-right mb-8">February 20, 20024</time>
			<p class="first-letter:float-left first-letter:text-5xl first-letter:pr-2 first-letter:font-black mb-4">I remember those childhood afternoons, sitting at the old table with the brazier nearby, engrossed in solving mazes. It was simple yet challenging to find the way out through that tangle of passageways. I'd place my pencil on the starting point and begin tracing a path. Whenever I hit a dead end, I'd backtrack, erasing my pencil marks up to the intersection to continue from another direction. Hours would pass in this engaging activity.</p>
			<p class="indent-8 mb-4">However, as you grow older, you realize you can solve them just by looking, without even touching a pencil if they're not too complex, making the experience less engaging and, over time, too easy, even dull. By my teenage years, I had moved on from mazes, though they lingered in my subconscious.</p>
			<p class="indent-8 mb-8">I found related experiences in other things, like choose-your-own-adventure books or fighting fantasy, or board games like <strong>HeroQuest</strong>&trade;, which unfolded a maze of rooms and corridors filled with monsters to defeat and treasures to find, rekindling my enthusiasm for the basic idea in a supercharged form. Then came role-playing games, video games like <strong>Rogue</strong>, text adventures... leading to another revolution in my little world: <strong>Diablo</strong>&trade;, where I spent days and weeks glued to my PC screen, battling through dark levels with my mouse as my sword.</p>
			<h2 class="font-medium italic text-4xl my-20 text-center">The idea is starting to take shape</h2>
			<p class="mb-4">The concept has evolved over the years, transitioning from one medium to another until we see its remnants in today's massive dungeon crawlers, more complex than ever. But the original paper-based idea <strong>remains valid</strong>. A child will enjoy it with just paper and pencil, as I did. Yet, as an adult, I yearn for a similar experience, to spend quiet time with my notebook and pencil, away from the digital noise, far from the screens that dominate our days, alone with the quest for a path through a maze, just like when I was a kid.</p>
			<p class="indent-8 mb-4">With this in mind, I began to wonder: What's missing for me to have a more <i>complete</i> and equally challenging experience? From my point of view, the main issue is that current mazes are a <strong>deception</strong> as an experience. Let me explain: a maze should be a network of passages where we're trapped and can't see beyond the corridor we're in, having to keep walking to discover more and more passages in the hope of finding an exit.</p>
			<p class="indent-8 mb-4">However, what the current experience offers is quite different, akin to: riding in a hot air balloon, flying over the maze, and from high above, spotting the exit path. There's no exploration, no action or excitement, no uncertainty in the path we're following. None of that exists when you're peering down from your balloon, just visualizing the exit, sipping your glass of wine while you say <i>&mdash;I see it, done!&mdash;.</i> See? What's established as a <i>maze puzzle</i> doesn't align with what the <strong>word maze</strong> evokes deep inside us.</p>
			<p class="indent-8 mb-4">Does this mean mazes as we know them today are flawed? Not exactly, as I've said, it remains an activity many enjoy, and I still solve one now and then. What I'm saying is that the association of the word maze with this activity doesn't match all that the word evokes in us; the activity falls short. Perhaps <i>"Find the Path"</i> would have been more appropriate without mentioning a maze. In fact, many publications title the pastime similarly.</p>
			<p class="indent-8 mb-4">Why have we made this association? As with almost everything, I believe the answer lies in <strong>context</strong>, when the pastime emerged as a way to fill space in newspapers. Back then, you can imagine that seeing a maze drawing fill a page not only served to fill space but also would have been visually striking. Pair it with an equally catchy name, and you've got a genius design to grab attention and attract more customers to the newspaper. These are just my thoughts, but I believe that's the reason for this association.</p>
			<h2 class="font-medium italic text-4xl my-20 text-center">The idea materializes</h2>
			<p class="mb-4">With the self-imposed task of <strong>redefining the maze experience</strong> to make it more challenging, the first step was to find ways to make the layout invisible. And this is where <strong>mathematics</strong> comes into play. What if, instead of having a drawing of the maze, we have a codification of it, such that it's drawn as it's decoded? Not seeing the maze, as it's encoded in a series of codes, means we can't intuit the exit path. Moreover, if we're always in a specific space, moving is just about knowing where we can go. Moving to one of the allowed spaces from where we are, we'll have to interpret the code of the new space and draw it. Simply changing how we represent and interpret the maze has allowed us to hide the layout, add an element of uncertainty, and simulate movement.</p>
			<p class="indent-8 mb-4">In essence, this is what you'll find in the <strong>Mazing with Mazes</strong> series. Offering a different vision, more in line with what the word maze evokes. The experience of discovering your path is always intriguing, and if you have to draw it yourself, it becomes a creative endeavor that you can even transform into art with the right techniques and dedication.</p>
			<p class="indent-8 mb-4">At <strong>Maze Boys</strong>, we work on what we're passionate about: mazes. Gradually, we'll share more games, mechanics, drawing techniques, articles, our art and crafts, in short: anything that crosses our minds. And from the bottom of our hearts, we hope you'll like it, even if just a little. If so, welcome.</p>
			<p class="indent-8 mb-4">Much is yet to come, and much more to do.</p>
			<p class="signature text-right">&mdash;by Pete Morales</p>
		</article>
	</section>

	<Footer />
  </main>
</Layout>
