---
import Layout from "../layouts/Layout.astro";
import NavigationBar from "../components/NavigationBar.astro";
import Footer from "../components/Footer.astro";
import Newsletter from "../components/Newsletter.astro";
---

<Layout title="MazeBoys website">
	<main>
		<NavigationBar logo="/mb_logo.png" i18n_code="en" i18n_url="/es"/>

		<header class="w-full bg-mzdark text-stone-100 pt-16 pb-4">
			<img src="/mwm/h_01.webp" alt="Marketing render of Mazing with Mazes book" class="w-full object-cover object-top min-h-[300px] max-h-[800px]" />
			<div class="max-w-screen-lg mx-auto grid grid-cols-4 gap-4 py-10 md:py-20 overflow-clip">
				<div class="row-start-1 row-end-2 col-start-1 col-end-5 p-4 self-start text-center">
					<h2 class="font-black text-5xl md:text-7xl lg:text-8xl">MAZING<span class="font-light text-2xl md:text-4xl lg:text-5xl"> WITH </span>MAZES</h2>
					<h2 class="font-thin italic text-3xl md:text-5xl mt-10 md:mt-20">"Redefining the Maze Experience"</h2>
				</div>
				<div class="row-start-2 row-end-3 col-start-1 col-end-5 p-4 text-center">
					<p class="font-light text-lg md:text-2xl">A new twist of the traditional mazes. Explore, decipher and draw mazes as you never did before.</p>
				</div>
			</div>
		</header>

		<section class="w-full bg-mzdark text-stone-100">
			<img src="/mwm/h_02.webp" alt="Multiple pages of the book with exploring information and rules" class="w-full object-cover min-h-[300px] max-h-[600px]" />
			<div class="max-w-screen-lg mx-auto grid grid-cols-4 gap-4 p-4 py-10 md:py-20 overflow-clip">
				<div class="row-start-1 row-end-2 col-start-1 col-end-5 p-4 self-start">
					<h2 class="font-thin text-2xl italic md:text-4xl"><strong class="font-semibold text-4xl md:text-6xl">Explore</strong> the path you decide to follow</h2>
				</div>
				<div class="row-start-2 row-end-3 col-start-1 col-end-5 md:col-start-2 md:col-end-5 p-4">
					<ul class="space-y-4 list-disc list-outside pl-4 text-lg">
						<li>From your position in the maze, you will need to decide what your next move will be.</li>
						<li>Use your map and follow your intuition to choose the right path.</li>
						<li>If you are on an edge, there's a higher chance of finding the exit, but exits are not always on the edges.</li>
						<li>If your path reaches a dead end, you'll have to backtrack and explore other options.</li>
						<li>Face mazes of different sizes and difficulty levels. Want something quick for a few minutes? Explore a 10x10 maze. Looking for a more challenging experience? Venture into a 16x16 maze.</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="w-full bg-mzdark text-stone-100">
			<img src="/mwm/h_03.webp" alt="Multiple pages of the book showing the deciphering process" class="w-full object-cover min-h-[300px] max-h-[600px]" />
			<div class="max-w-screen-lg mx-auto grid grid-cols-4 gap-4 p-4 py-10 md:py-20 overflow-clip">
				<div class="row-start-1 row-end-2 col-start-1 col-end-5 p-4 self-start">
					<h2 class="font-thin text-2xl italic md:text-4xl"><strong class="font-semibold text-4xl md:text-6xl">Decipher</strong> the maze's hidden code</h2>
				</div>
				<div class="row-start-2 row-end-3 col-start-1 col-end-5 md:col-start-2 md:col-end-5 p-4">
					<ul class="space-y-4 list-disc list-outside pl-4 text-lg">
						<li>All paths in the maze are encoded in the Key.</li>
						<li>Every time you explore a new space, look up and decode its code in the Key to discover what you find.</li>
						<li>Did you find a star? Perfect, that indicates you're closer to the exit.</li>
						<li>Did you come across a crossroad? More paths to explore, more decisions to make.</li>
						<li>Did you find the exit? Congratulations, you've managed to escape the maze. The next one awaits.</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="w-full bg-mzdark text-stone-100">
			<img src="/mwm/h_04.webp" alt="Top view of a man drawing a maze" class="w-full h-full object-cover min-h-[300px] max-h-[600px]" />
			<div class="max-w-screen-lg mx-auto grid grid-cols-4 gap-4 p-4 py-10 md:py-20 overflow-clip">
				<div class="row-start-1 row-end-2 col-start-1 col-end-5 p-4 self-start">
					<h2 class="font-thin text-2xl italic md:text-4xl"><strong class="font-semibold text-4xl md:text-6xl">Draw</strong> the path you take on the map</h2>
				</div>
				<div class="row-start-2 row-end-3 col-start-1 col-end-5 md:col-start-2 md:col-end-5 p-4">
					<ul class="space-y-4 list-disc list-outside pl-4 text-lg">
						<li>You will have a map on which to draw all the spaces you explore.</li>
						<li>Use it to remember your path and explore others when you find yourself stuck.</li>
						<li>You have access to grid-guides of different sizes for making your maps. You can use those included in the book or those we offer right here.</li>
						<li>Enhance your maps with a multitude of drawing tricks and techniques.</li>
						<li>Use the book to explore and make quick sketches, but when you really want to create art, grab your favorite materials, print a grid-guide on suitable art paper, and unleash your creativity.</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="w-full bg-mzdark text-stone-100">
			<img src="/mwm/h_05.webp" alt="detailed view of a maze sketched in a paper with a pen" class="w-full h-full object-cover min-h-[300px] max-h-[600px]" />
			<div class="max-w-screen-lg mx-auto grid grid-cols-4 gap-4 p-4 py-10 md:py-20 overflow-clip">
				<div class="row-start-1 row-end-2 col-start-1 col-end-5 p-4 self-start">
					<h2 class="font-thin text-2xl italic md:text-4xl"><strong class="font-bold text-4xl md:text-6xl not-italic">Discover</strong> all this and much more</h2>
				</div>
				<div class="row-start-2 row-end-3 col-start-1 col-end-5 md:col-start-2 md:col-end-5 p-4">
					<ul class="space-y-4 list-disc list-outside pl-4 text-lg">
						<li>Tackle 30 mazes divided into three difficulty levels.</li>
						<li>Each maze comes with its Key and a grid-guide to facilitate drawing.</li>
						<li>Detailed rules on how to solve the mazes, explained with examples from the simplest to the most complex.</li>
						<li>A complete section with techniques and tricks to improve your art when drawing mazes.</li>
						<li>A reference section with help sheets and grid-guides for your personal use.</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="text-mzdark">
			<img src="/mwm/h_06.webp" alt="Middle top view of the Mazing with Mazes book" class="w-full object-cover min-h-[300px] max-h-[600px]" />
			<div class="w-full max-w-screen-lg mx-auto p-4 py-10 md:py-20 text-center">
				<h1 class="font-extralight text-3xl mb-8 leading-relaxed">If you want to delve into the maze<br />get <strong class="font-black">MAZING <span class="font-semibold text-2xl">WITH</span> MAZES</strong> on Amazon</h1>
				<a href="https://www.amazon.com/dp/B0CVVMKGMB" target="_blank" class="inline-block bg-mzyellow rounded-lg text-lg font-bold p-4 hover:shadow-lg hover:shadow-mzyellow/50">Find on Amazon</a>
			</div>
		</section>

		<section class="text-mzdark">
			<img src="/mwm/h_07.webp" alt="Multiple pages of the QuickStart Rules and Welcome Mazes documents" class="w-full object-cover min-h-[300px] max-h-[600px]" />
			<div class="w-full max-w-screen-lg mx-auto p-4 py-10 md:py-20 text-center">
				<p class="font-extralight text-3xl leading-relaxed">If you prefer to learn more,<br/> download our <a href="/mwm/downloads/WelcomePack.zip" class="font-medium hover:underline"><strong>Welcome Pack</strong></a>,<br/>which includes the quick rules and 3 mazes for you to start with.</p>
			</div>
		</section>

		<section class="bg-mzdark w-full">
			<p class="w-full max-w-screen-lg mx-auto px-4 py-10 md:py-20 text-center font-thin italic text-4xl text-white">
				Either way, the <strong class="font-semibold text-4xl md:text-6xl">maze</strong> awaits you
			</p>
		</section>

		<section class="w-full max-w-screen-lg mx-auto p-4 my-5">
			<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
				<table class="w-full text-base text-left text-gray-500">
					<caption class="p-5 text-xl font-semibold text-left text-mzdark bg-white">
						Downloads
						<p class="mt-1 text-base font-normal text-mzdark/60">Here you can find aids, reference sheets, guides for your maps, and any support material we publish for <strong>Mazing with Mazes</strong>.</p>
					</caption>
					<thead class="text-xs text-gray-700 uppercase bg-gray-50">
					<tr>
						<th scope="col" class="px-6 py-3">File</th>
						<th scope="col" class="px-6 py-3">Description</th>
					</tr>
					</thead>
					<tbody>
					<tr class="bg-white border-b">
						<th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
							<a href="/mwm/downloads/WelcomePack.zip" class="hover:underline hover:decoration-2">WelcomePack.zip</a>
						</th>
						<td class="px-6 py-4">The best way to start "mazing". This zip file contains the QuickstartRules.pdf and WelcomeMazes.pdf files, all in one.</td>
					</tr>
					<tr class="bg-white border-b">
						<th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
							<a href="/mwm/downloads/QuickstartRules.pdf" class="hover:underline hover:decoration-2">QuickstartRules.pdf</a>
						</th>
						<td class="px-6 py-4">Quick and short summary with all basic exploration rules for start <i>mazing</i>. <strong>Optimized for mobile devices</strong>.</td>
					</tr>
					<tr class="bg-white border-b">
						<th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
							<a href="/mwm/downloads/WelcomeMazes.pdf" class="hover:underline hover:decoration-2">WelcomeMazes.pdf</a>
						</th>
						<td class="px-6 py-4">Initial set of 3 mazes to try your skills and test the basics of <i>mazing</i>. <strong>Optimized for mobile devices</strong></td>
					</tr>
					<tr class="bg-white border-b">
						<th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
							<a href="/mwm/downloads/GridMap_10x10.pdf" class="hover:underline hover:decoration-2">GridMap_10x10.pdf</a>
						</th>
						<td class="px-6 py-4">Grid for <i>mazing</i> Easy mazes of 10x10 spaces.</td>
					</tr>
					<tr class="bg-white border-b">
						<th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
							<a href="/mwm/downloads/GridMap_13x13.pdf" class="hover:underline hover:decoration-2">GridMap_13x13.pdf</a>
						</th>
						<td class="px-6 py-4">Grid for <i>mazing</i> Medium mazes of 13x13 spaces.</td>
					</tr>
					<tr class="bg-white border-b">
						<th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
							<a href="/mwm/downloads/GridMap_16x16.pdf" class="hover:underline hover:decoration-2">GridMap_16x16.pdf</a>
						</th>
						<td class="px-6 py-4">Grid for <i>mazing</i> Hard Mazes of 16x16 spaces.</td>
					</tr>

					</tbody>
				</table>
			</div>
		</section>

		<Newsletter />
		<Footer />
	</main>
</Layout>
