---
import Layout from "../../layouts/Layout.astro";
import NavigationBar from "../../components/NavigationBar.astro";
import Footer from "../../components/Footer.astro";
import NewsletterEs from "../../components/Newsletter_es.astro";
---

<Layout title="MazeBoys website">
  <main>
	<NavigationBar logo="/mb_logo.png" i18n_code="es" i18n_url="/" />

    <header class="w-full bg-mzdark text-stone-100 pt-16 pb-4">
        <img src="/mwm/h_01_es.webp" alt="Marketing render of Mazing with Mazes book" class="w-full object-cover object-top min-h-[300px] max-h-[800px]" />
        <div class="max-w-screen-lg mx-auto grid grid-cols-4 gap-4 py-10 md:py-20 overflow-clip">
            <div class="row-start-1 row-end-2 col-start-1 col-end-5 p-4 self-start text-center">
				<h2 class="font-black text-5xl md:text-7xl lg:text-8xl">DIBUJANDO LABERINTOS</h2>
                <h2 class="font-thin italic text-3xl md:text-5xl mt-10 md:mt-20">"El cl&aacute;sico Pasatiempo Reinventado"</h2>
            </div>
			<div class="row-start-2 row-end-3 col-start-1 col-end-5 md:col-start-2 md:col-end-5 p-4">
                <p class="font-light text-lg md:text-2xl">Ahora <b>t&uacute;</b> eres el que dibuja el laberinto.</p>
			</div>
		</div>
    </header>

    <section class="w-full bg-mzdark text-stone-100">
        <img src="/mwm/h_02.webp" alt="Multiple pages of the book with exploring information and rules" class="w-full object-cover min-h-[300px] max-h-[600px]" />
        <div class="max-w-screen-lg mx-auto grid grid-cols-4 gap-4 p-4 py-10 md:py-20 overflow-clip">
            <div class="row-start-1 row-end-2 col-start-1 col-end-5 p-4 self-start">
				<h2 class="font-thin text-2xl italic md:text-4xl"><strong class="font-semibold text-4xl md:text-6xl">Explora</strong> el camino que decidas seguir</h2>
            </div>
			<div class="row-start-2 row-end-3 col-start-1 col-end-5 md:col-start-2 md:col-end-5 p-4">
                <ul class="space-y-4 list-disc list-outside pl-4 text-lg">
                    <li>Desde tu posici&oacute;n en el laberinto, tú decides cuál será tu próximo movimiento.</li>
                    <li>Usa tu mapa y sigue tu intuición para escoger el camino correcto.</li>
                    <li>Si estás en un borde, las posibilidades de encontrar la salida serán altas, pero las salidas no siempre están en los bordes.</li>
                    <li>Si llegas a un callejón sin salida, vuelve atrás y explora otros caminos que dejaste.</li>
                    <li>Afront laberintos de diferentes tamaños y niveles de dificultad. ¿Que quieres algo rápido, para unos minutos? Explora un laberinto de 10x10. ¿Si quieres un reto mayor? Adéntrate en un laberinto de 16x16.</li>
                </ul>
			</div>
		</div>
    </section>

    <section class="w-full bg-mzdark text-stone-100">
        <img src="/mwm/h_03.webp" alt="Multiple pages of the book showing the deciphering process" class="w-full object-cover min-h-[300px] max-h-[600px]" />
        <div class="max-w-screen-lg mx-auto grid grid-cols-4 gap-4 p-4 py-10 md:py-20 overflow-clip">
            <div class="row-start-1 row-end-2 col-start-1 col-end-5 p-4 self-start">
				<h2 class="font-thin text-2xl italic md:text-4xl"><strong class="font-semibold text-4xl md:text-6xl">Descifra</strong> el código que oculta al laberinto</h2>
            </div>
			<div class="row-start-2 row-end-3 col-start-1 col-end-5 md:col-start-2 md:col-end-5 p-4">
                <ul class="space-y-4 list-disc list-outside pl-4 text-lg">
                    <li>Todos los caminos del laberinto están codificados en su Clave.</li>
                    <li>Cada vez que exploras un espacio, debes interpretar su código para descubrir lo que encuentras.</li>
                    <li>¿Encontraste una estrella? Perfecto, estás más cerca de la salida.</li>
                    <li>¿Te encuentras en una encrucijada? Más camino que explorar, más decisiones que tomar.</li>
                    <li>¿Encontraste la salida? Enhorabuena, conseguiste escapar del laberinto. El siguiente te espera.</li>
                </ul>
			</div>
		</div>
    </section>

    <section class="w-full bg-mzdark text-stone-100">
        <img src="/mwm/h_04.webp" alt="Top view of a man drawing a maze" class="w-full h-full object-cover min-h-[300px] max-h-[600px]" />
        <div class="max-w-screen-lg mx-auto grid grid-cols-4 gap-4 p-4 py-10 md:py-20 overflow-clip">
            <div class="row-start-1 row-end-2 col-start-1 col-end-5 p-4 self-start">
				<h2 class="font-thin text-2xl italic md:text-4xl"><strong class="font-semibold text-4xl md:text-6xl">Dibuja</strong> el camino en tu mapa</h2>
            </div>
			<div class="row-start-2 row-end-3 col-start-1 col-end-5 md:col-start-2 md:col-end-5 p-4">
                <ul class="space-y-4 list-disc list-outside pl-4 text-lg">
                    <li>Usa tu mapa para dibujar tos los espacios que explores.</li>
                    <li>Úsalo para recordar tu camino y poder volver a otros si te encuentras bloqueado.</li>
                    <li>Te proporcionamos cuadrículas-guía de diferentes tamaños para que te sea más fácil dibujar tus mapas.</li>
                    <li>Mejora tu dibujo con multitud de técnicas y trucos.</li>
                    <li>Usa el libro para explorar y hacer bocetos rápidos. Pero si realmente quieres crear arte, hazte con tus materiales favoritos, imprime una cudarícula-guía en un papel artístico adecuado, y da rienda suelta a tu creatividad.</li>
                </ul>
			</div>
		</div>
    </section>

    <section class="w-full bg-mzdark text-stone-100">
        <img src="/mwm/h_05.webp" alt="detailed view of a maze sketched in a paper with a pen" class="w-full h-full object-cover min-h-[300px] max-h-[600px]" />
        <div class="max-w-screen-lg mx-auto grid grid-cols-4 gap-4 p-4 py-10 md:py-20 overflow-clip">
            <div class="row-start-1 row-end-2 col-start-1 col-end-5 p-4 self-start">
				<h2 class="font-thin text-2xl italic md:text-4xl"><strong class="font-bold text-4xl md:text-6xl not-italic">Descubre</strong> todo esto y mucho más</h2>
            </div>
			<div class="row-start-2 row-end-3 col-start-1 col-end-5 md:col-start-2 md:col-end-5 p-4">
                <ul class="space-y-4 list-disc list-outside pl-4 text-lg">
                    <li>Agronta 30 laberintos divididos en 3 niveles de dificultad.</li>
                    <li>Cada laberinto viene con su propia Clave y una rejilla-guía para facilitarte el dibujado.</li>
                    <li>Reglas detalladas para explorar los laberintos, explicadas con ejemplos desde los más sencillos a los más avanzandos.</li>
                    <li>Una sección completa de técnicas y trucos para mejorar tu arte cuando dibujes laberintos.</li>
                    <li>Una sección de referencia con hojas de ayuda y cuadrículas-guía para tu uso personal.</li>
                </ul>
			</div>
		</div>
    </section>

    <section class="text-mzdark">
        <img src="/mwm/h_06.webp" alt="Middle top view of the Mazing with Mazes book" class="w-full object-cover min-h-[300px] max-h-[600px]" />
        <div class="w-full max-w-screen-lg mx-auto p-4 py-10 md:py-20 text-center">
            <h1 class="font-extralight text-3xl mb-8 leading-relaxed">Si quieres adentrarte en el laberinto<br />consigue <strong class="font-black">DIBUJANDO LABERINTOS</strong> en Amazon</h1>
            <a href="https://www.amazon.com/dp/B0CVVMKGMB" target="_blank" class="inline-block bg-mzyellow rounded-lg text-lg font-bold p-4 hover:shadow-lg hover:shadow-mzyellow/50">Buscar en Amazon</a>
        </div>
    </section>

    <section class="text-mzdark">
        <img src="/mwm/h_07.webp" alt="Multiple pages of the QuickStart Rules and Welcome Mazes documents" class="w-full object-cover min-h-[300px] max-h-[600px]" />
        <div class="w-full max-w-screen-lg mx-auto p-4 py-10 md:py-20 text-center">
            <p class="font-extralight text-3xl leading-relaxed">Si prefieres aprender más,<br/> descarga nuestro <a href="/mwm/downloads/WelcomePack.zip" class="font-medium hover:underline"><strong>Welcome Pack</strong></a>,<br/>donde encontrarás las Reglas rápidas y 3 laberintos para empezar.</p>
        </div>
    </section>

    <section class="bg-mzdark w-full">
        <p class="w-full max-w-screen-lg mx-auto px-4 py-10 md:py-20 text-center font-thin italic text-4xl text-white">
            Sea como sea, el <strong class="font-semibold text-4xl md:text-6xl">laberinto</strong> te espera
        </p>
    </section>

    <section class="w-full max-w-screen-lg mx-auto p-4 my-5">
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-base text-left text-gray-500">
                <caption class="p-5 text-xl font-semibold text-left text-mzdark bg-white">
                    Descargas
                    <p class="mt-1 text-base font-normal text-mzdark/60">Aquí puedes encontrar ayudas, hojas de referencia, guías para tus mapas, y cualquier material de soporte que publicquemos para <strong>DIBUJANDO LABERINTOS</strong>.</p>
                </caption>
                <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                    <tr>
                        <th scope="col" class="px-6 py-3">Fichero</th>
                        <th scope="col" class="px-6 py-3">Descripción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-white border-b">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                            <a href="/mwm/downloads/WelcomePack.zip" class="hover:underline hover:decoration-2">WelcomePack.zip</a>
                        </th>
                        <td class="px-6 py-4">(only english) The best way to start "mazing". This zip file contains the QuickstartRules.pdf and WelcomeMazes.pdf files, all in one.</td>
                    </tr>
                    <tr class="bg-white border-b">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                            <a href="/mwm/downloads/QuickstartRules.pdf" class="hover:underline hover:decoration-2">QuickstartRules.pdf</a>
                        </th>
                        <td class="px-6 py-4">(only english) Quick and short summary with all basic exploration rules for start <i>mazing</i>. <strong>Optimized for mobile devices</strong>.</td>
                    </tr>
                    <tr class="bg-white border-b">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                            <a href="/mwm/downloads/WelcomeMazes.pdf" class="hover:underline hover:decoration-2">WelcomeMazes.pdf</a>
                        </th>
                        <td class="px-6 py-4">(only english) Initial set of 3 mazes to try your skills and test the basics of <i>mazing</i>. <strong>Optimized for mobile devices</strong></td>
                    </tr>
                    <tr class="bg-white border-b">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                            <a href="/mwm/downloads/GridMap_10x10.pdf" class="hover:underline hover:decoration-2">GridMap_10x10.pdf</a>
                        </th>
                        <td class="px-6 py-4">Cuadrícula-guía para <i>dibujar</i> laberintos Fáciles de 10x10 espacios.</td>
                    </tr>
                    <tr class="bg-white border-b">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                            <a href="/mwm/downloads/GridMap_13x13.pdf" class="hover:underline hover:decoration-2">GridMap_13x13.pdf</a>
                        </th>
                        <td class="px-6 py-4">Cuadrícula-guía para <i>dibujar</i> laberintos Medios de 13x13 espacios.</td>
                    </tr>
                    <tr class="bg-white border-b">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                            <a href="/mwm/downloads/GridMap_16x16.pdf" class="hover:underline hover:decoration-2">GridMap_16x16.pdf</a>
                        </th>
                        <td class="px-6 py-4">Cuadrícula-guía para <i>dibujar</i> laberintos Difíciles de 16x16 espacios.</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </section>

    <NewsletterEs />
	<Footer />
  </main>
</Layout>